@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Eczar&family=Newsreader:opsz@6..72&family=Noto+Color+Emoji&family=Quicksand:wght@400;500;600&family=Roboto+Condensed:ital,wght@0,500;0,600;1,400&display=swap");

:root {
  /* colors */
  --background2: #dad7cdff;
  --background: #e1ded5ff;
  --accent: #588157ff;
  --main: #344e41ff;
  --borders: #a3b18aff;
  --button: #d9926bff;
  --secondary-accent: #3a5a40ff;

  /* font families */
  --ff-main: "Roboto Condensed", sans-serif;
  --ff-accent: "Quicksand", sans-serif;

  /* font weight */
  --fw-regular: 500;
  --fw-bold: 600;
  --fw-black: 700;

  /* font sizes */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2.25rem;
  --fs-numbers: 5rem;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  margin: 2rem;
  align-items: center;
}

/* Nav Bar Customization */
nav {
  background-color: var(--background2);
  margin: 0rem;
  font-family: var(--ff-main);
  font-size: var(--fs-400);
  display: flex;
  flex-basis: auto;
  height: 5vh;
  align-items: center;
  justify-content: space-evenly;
}

#inputSearch {
  height: 1.5rem;
  border: none;
  border-radius: 100px;
padding-left: 10px;
}

#searchBtn {
  background-color: var(--button);
  border-radius: 100px;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
}
#searchBtn:active {
filter: brightness(90%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

/* Scrolling Weather Data Customization */
.scroller {
  border: var(--background2) 3px solid;
  height: 50px;
  font-family: var(--ff-accent);
}

#scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller__item {
  background-color: var(--accent);
  border-radius: 4px;
  list-style: none;
  height: 1.5rem;
  box-shadow: 0 0.125rem 0.75rem 0 var(--secondary-accent);
  width: clamp(20rem, 30rem);
  text-align: center;
  align-items: center;
  align-self: center;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white,
    white 80%,
    transparent
  );
}

.scroller[data-animated="true"] #scroller__inner {
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}
/* scroller animations */
@keyframes scroll {
  to {
    transform: translate(100%);
  }
}

/* Weather Card Customization */
.cards {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* .card {
    height: 50vh;
    min-width: 50vh;
    background-color: var(--accent);
    background: op;
    font-family: var(--ff-main);
    text-align: center;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background: rgba(39, 39, 39, 0.1);
} */
.card {
  height: 300px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  color: #fff;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: (39, 39, 39, 0.1);
  /* fallback for old browsers */
  -webkit-backdrop-filter: blur(60px);
  border: 2px solid rgba(3, 69, 14, 0.05);
  box-shadow: 0 0 80px rgba(58, 90, 64, 0.5);
}

.card > h1 {
  font-size: var(--fs-numbers);
  font-weight: var(--fw-bold);
  font-family: var(--ff-accent);
}

.card > h2 {
  font-size: var(--fs-500);
  font-family: var(--ff-accent);
}

#degrees, #additionalInfo > h1 {
    font-size: var(--fs-numbers);
    font-weight: var(--fw-bold);
    font-family: var(--ff-accent);
}


#wicon {
  width: 100px;
  height: 100px;
 margin-left: 38%;
}
